@import "../../style/_constants.scss";
@import "../../style/_mixins.scss";

.select-item {
    &__select {
        max-width: 100%;
        padding: 3px;
        border: 1px solid $base-blue;
        background-color: rgba(0, 0, 0, 0);
    }
}
