@import "../../style/_constants.scss";
@import "../../style/_mixins.scss";

.photos-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 180px);
    padding: 30px;
    background-color: #fff;
    @include small-desktop {
        padding: 15px;
    }
    @include phone {
        padding: 10px;
        grid-template-columns: auto;
    }
}