@import "../../style/_constants.scss";
@import "../../style/_mixins.scss";

.delete-all {
    font-family: $second-font-family;
    width: 100%;
    white-space: nowrap;
    display: block;
    padding: 5px 70px;
    border: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
    background-color: $base-red;
    &:hover {
        background-color: darken($base-red, 15%);
    }
}
